@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1663408759408') format('truetype');
}

[class^="ro-icon-"], [class*=" ro-icon-"] {
  font-family: "iconfont" !important;
  font-size: 1.5em;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ro-icon-close:before {
  content: "\e646";
}

.ro-icon-edit:before {
  content: "\e649";
}

.ro-icon-warnfill:before {
  content: "\e662";
}

.ro-icon-settings:before {
  content: "\e68a";
}

.ro-icon-delete:before {
  content: "\e6b4";
}

